:root {
  /* 全局颜色 */
  --c-背景: #cea;
  --c-文字: #222;
  --c-标题: #000;
  --c-文字2: #444; /* 次要文字 */
  --c-边框: #bbb;

  /* TODO */

}

body {
  background-color: var(--c-背景);
  color: var(--c-文字);

  line-height: 1.6;
  font-family:
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
